* {
    box-sizing: border-box;
    margin: none;
  } 
  
body {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  width: 90vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  background-color: rgb(0, 255, 255,0.2);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  position: relative;
  width: 1200px;
  height: 600px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  justify-content: center;
}

footer{
  position: fixed;
  bottom: 0px;
  background-color: rgb(12, 12, 12);
  height: 50px;
  width: 100vw;
}

footer p{
  color: white;
  text-align: center;
}

.contentbox {
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 0;
  background-color: rgb(0, 255, 255,0.3);
  border-radius: 20px;
  height: 100%;
  width: 45%;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow: auto;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  overflow: hidden;
  top: 20px;
  width: 90%;
  height: 10%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px 10px 0 0;
}

.searchbar input {
  width: 95%;
  height: 80%;
  border: blue 2px slateblue;
  box-shadow: none;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 40px;
}

.searchbar button {
  background-image: url("../assets/search.svg");
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: absolute;
  top: 20%;
  right: 25px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchbar button:hover {
  background-image: url(../assets/search2.svg);
}

.searchbar button:not(:hover) {
  background-image: url(../assets/search.svg);
}

.searchbar:hover{
  box-shadow: 0, 0, 5px;
}

.searchbar:not(:hover){
  box-shadow: none;
}

.objcontainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute; 
  bottom: 20px;
  width: 90%;
  height: 80%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 0 0 10px 10px;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.objcontainer div{
  display: flex;
  padding: 20px;
  width: 90%;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.5);
  text-align: left;
  box-shadow: 0 0 10px black;
  border: rgba(0, 255, 255, 0.5) 1px solid;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
}

.objcontainer div:hover {
  background-color: rgb(128, 128, 128, 0.4);
}

.objcontainer div:not(:hover) {
  background-color: rgb(255, 255, 255, 0.5);
}

.objcontainer div button{
  position: absolute;
  right: 40px;
  background-color: hsl(0, 0%, 100%, 0.5);
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  box-shadow: 0 0 5px;
  cursor: pointer;
}

.objcontainer div button:hover{
  background-color: rgb(128, 128, 128, 0.7);
}

.objcontainer div button:not(:hover){
  background-color: hsl(0, 0%, 100%, 0.5);
}

.objcontainer div img{
  width: 30px;
}

.objcontainer div p{
  padding-left: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.querybox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 40px;
  background-color: rgb(0, 255, 255,0.3);
  border-radius: 20px;
  height: 70%;
  width: 40%;
  position: absolute;
  bottom: 0;
}

.infopanel {
  width: 90%;
  height: 90%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
}

.buttonpanel {
  width: 90%;
  height: 70%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
}

.buttonbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 0;
  background-color: rgb(0, 255, 255,0.3);
  border-radius: 20px;
  height: 20%;
  width: 40%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 53%); 
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 33%); 
}

#logout{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  background-image: url(../assets/logout2.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
}

#logout:hover{
  background-image: url(../assets/logout2.svg);
  opacity: 0.8;
}

#logout:not(:hover){
  background-image: url(../assets/logout.svg);
  opacity: 0.7;
}

.innerwrapper {
  height: 90%;
  width: 90%;
  padding: 10px;
  position: relative;
}

@media (max-width: 860px) {
  .container{
    position: fixed;
    width: 774px;
  }

}

